.player-container{
    margin-right: 20px;
}

.player-img-container{
    border: solid 1px black;
}

.player-buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

.btn {
    padding: 5px 10px;
    font-size: 18px;
    font-family: Tahoma;
    border: solid black 1px;
    background: gainsboro;
}

.btn:hover{
    cursor: pointer;
    background: #cccccc;
}